body {
    font-family: 'Monda';font-size: 22px;
    text-align: center;
    margin: 50px;
    color: #fbc9c9;
    background: #4b4040;
}


.buttons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.carrd:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#4b4040;
    color:#fbc9c9;
    cursor:pointer;
    transition: background-color 0.3s, color 0.3s;
}

.prns:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#4b4040;
    color:#fbc9c9;
    cursor:pointer;
    transition: background-color 0.3s, color 0.3s;
}


.carrd {
    background-color: #fbc9c9;
    border-color:#fbc9c9;
    font-family: 'Monda';
    font-size: 25px;
    border-radius: 10px;
    color: #4b4040;
}

.prns {
    background-color: #fbc9c9;
    border-color:#fbc9c9;
    font-family: 'Monda';
    font-size: 25px;
    border-radius: 10px;
    color: #4b4040;
}